.business_box .box-content {
    padding-left: 65px;
  }
  .business_box .box-content .page-title{
    margin-left: 0px;
  }
  .item-list-title {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .item-list-title::before {
    content: '◆';
  }
  .item-list-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 18px;
  }
  .bg-img-load {
    background-image:url(../images/development/haikei.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .item-list-grid .item-l {
    border: 1px solid;
    height: 240px;
    padding: 40px 147px 25px 40px;
  }
  .item-list-grid .item-l .item-content-l {
    height: 100%;
    position: relative;
    font-size: 16px;
  }
  .item-list-grid .item-l .item-title {
    color: #2089c5;
    font-weight: bold;
  }
  .item-list-grid .item-l .item-content {
    margin-top: 30px;
  }
  .item-list-grid .item-l .item-link {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .item-list-grid .item-l .item-link a {
    text-decoration: underline !important;
    color: #000000;
  }
  .item-list-grid .item-l .item-link a::before {
    content: '>>';
  }
  @media screen and (max-width:767px){
    .business_box .box-content {
      padding-left: 0px !important;
    }
    .business_box .box-content .page-title{
      margin-left: 30px !important;
    }
    .business_box .box-content .box-content-col {
      padding-left: 0px;
      padding-right: 0px;
    }
    .business_box .box-content .box-content-text {
      padding-left: 15px;
    }
    .item-list-grid {
      grid-template-columns: none !important;
      grid-gap: 50px !important;
    }
    .item-list-grid .item-l {
      padding: 30px 30px 25px 40px;
    }
    .bg-img-load {
      background: none;
    }
  }